{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_item%}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: &#8377;{{ item.total_cost}}</p>
        </div>
      </div>
      {%endfor%}
      <p class="fw-bold">Total Cost = shipping &#8377;120 + price &#8377;{{total_amount}}</p>
    <small>Term and Condition: Terms of Service set the way in which your product, service or content may be used, in a legally binding way. They are crucial for protecting your content from a copyright perspective as well as for protecting you from potential liabilities.</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/payment-done">
      {% for ad in add%} 
      <div class="card"> 
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ad.city}}, {{ad.state}}-{{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" value="{{ad.id}}" name="custid" id="custadd {{forloop.counter}}">
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}}</label>
        </div>
        {% endfor%}
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
      </form>
      <div>
      
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}