{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center" >
   <h3>Password Changes Successfully !!</h3>
   <iframe src="https://giphy.com/embed/MelhioWPAo6k4Q6BTp" width="200" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
</div>
{% endblock main-content %}